<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>

</head>

<body>
<section class="info">
  <% data.forEach(element => { %>
    <div>
      <p>
        Name: <%= element.name %> 
      </p>
      <img src="<%= element.img %> ">

      <p>
        Level: <%= element.level %> 
      </p>

      <form action="/favourite" method="POST">
        <input type="hidden" name="name" value="<%= element.name %> ">
        <input type="hidden" name="img" value="<%= element.img %> ">
        <input type="hidden" name="level" value="<%= element.level %> ">
        <input type="submit" value="Add to fav">
      </form>
    </div>
   
  <% }) %>

</section> 

<%- include('../layout/footer') %>

 
</body>

</html>
